---
import BaseLayout from '../layouts/BaseLayout.astro';
import SiteHeader from '../components/home/SiteHeader.astro';
import HeroSection from '../components/home/HeroSection.astro';
import ServicesSection from '../components/home/ServicesSection.astro';
import LabSection from '../components/home/LabSection.astro';
import ContactSection from '../components/home/ContactSection.astro';
import SiteFooter from '../components/home/SiteFooter.astro';
import HomeScripts from '../components/home/HomeScripts.astro';
import WhatsAppFloat from '../components/home/WhatsAppFloat.astro';
import { localBusinessSchema, siteMeta } from '../data/site';
---

<BaseLayout
  title={siteMeta.title}
  description={siteMeta.description}
  keywords={siteMeta.keywords}
  image={siteMeta.ogImage}
  schema={localBusinessSchema}
>
  <main class="relative mx-auto w-full max-w-[1600px] px-4 pb-6 sm:px-6 lg:px-8 xl:px-10 2xl:px-12">
    <SiteHeader />
    <HeroSection />
    <LabSection />
    <ServicesSection />
    <ContactSection />
    <SiteFooter />
  </main>

  <HomeScripts />
  <WhatsAppFloat />
</BaseLayout>
